.env
__pycache__/
*.pyc
*.pyo
.pytest_cache/
data/*
!data/bases/
data/bases/*
!data/bases/.gitkeep
!data/agreements/
data/agreements/*
!data/agreements/terms_and_conditions.pdf
logs/
*.egg-info/
dist/
build/
.venv/
venv/
*.key
*.pem
